body{
    font-family: Raleway, arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
    /*---------------*/
    /*---------------*/
    /*----header-----*/
    /*---------------*/
    /*---------------*/
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.logo img{
    width: 100px;   
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #0065FC;
    border-top: 0;

}
.inscription{
    color: #0065FC;
}
    /*---------------*/
    /*---------------*/
    /*----footer-----*/
    /*---------------*/
    /*---------------*/

footer{
    background-color: #f2f2f2;
}
.pied{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 300px 10px 30px;
}
footer ul{
    margin-right: 200px;
    padding: 0;
    list-style: none;
}
footer a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px 0 5px 0;

}
    /*---------------*/
    /*---------------*/
    /*---conteneur---*/
    /*---------------*/
    /*---------------*/

.conteneur{
    margin: 20px;
}