body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
 }
 #bloc_page{
     width: 1440px;
     margin: auto;
 }
    /*---------------*/
    /*---------------*/
    /*---conteneur---*/
    /*---------------*/
    /*---------------*/

.conteneur{
    width: auto;
    margin: 0 50px 50px 50px;
}
    
    /*---------------*/
    /*---------------*/
    /*----header-----*/
    /*---------------*/
    /*---------------*/

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-grow: 3;
}
.logo img{
    width: 100px;   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registration{
    order: 3;
    margin-left: 30px;
}
.inscription{
    text-decoration: none;
    color: #0065FC;
}
nav a{
    height: 100px;
    width: 150px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

    /*---------------*/
    /*---------------*/
    /*----footer-----*/
    /*---------------*/
    /*---------------*/

footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}
.pied{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 350px;
}
.pied ul{
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
}
.pied a{
    text-decoration: none;
    color: black;
    margin: 5px 0 5px 0;
}
.pied li{
    margin-top: 18px;
}
.pied li h3{
    margin-bottom: 0;
}

    /*---------------*/
    /*---------------*/
    /*----search-----*/
    /*---------------*/
    /*---------------*/

.search{
    width: 100%;
}    

.search p{
    margin-top: 20px;
    margin-bottom: 25px;
}

.icone{
    display: flex;
    align-items: flex-start;
}
.icone i{
    background-color: #f2f2f2;
    width: 45px;
    height: 48px;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}
form{
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    height: 50px;
}
input[type=search] {
    border: none;
    width: 220px;
    height: 100%;
}
#ville::placeholder{
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}
button{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    width: 130px;
    height: 100%;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}
.loupe{
    display: none;
}

    /*---------------*/
    /*---------------*/
    /*----Filtres----*/
    /*---------------*/
    /*---------------*/

.filtre{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.filtre_categorie{
    display: flex;
    align-items: center;
}

.lien_filtres{
    margin: 15px;
    height: 48px;
    width: auto;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-left-style: none;
}
.lien_filtres a i{
    border: 1px solid #DEEBFF;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 20px;
    transition: all 1s ease-in-out;
}
.lien_filtres a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
.lien_filtres h3{
    margin-left: 10px;
    margin-right: 20px;
}
.lien_filtres a:hover{
    background: #0065FC;
    border-radius: 50px;
}
.lien_filtres a:hover i{
    transform: rotate(360deg);
   
}
.info{
    display: flex;
    align-items: center;
}
.info p{
    margin: 10px;
}
.info i{
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #0065FC;
}

    /*---------------*/
    /*---------------*/
    /*--hébergement--*/
    /*---------------*/
    /*---------------*/

.principale{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.propositions{
    width: 68%;
    height: 100%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 40px;
}
.contenu{
    margin: 45px 0 45px 35px;
}
.contenu h1{
    margin-bottom: 0;
}
.figure_1{
    margin: 0;
    display: flex;
    flex-flow: wrap row;
}
.image_1{
    margin: 20px 25px 15px 0;
    width: 240px;
    height: 200px;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
}
.image_1 img{
    object-fit: cover;
    width: 240px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
}
.image_1 figcaption{
    margin-left: 12px;
}
.image_1 figcaption h3, p{
    margin-top: 6px;
    margin-bottom: 6px;
}
.image_1 figcaption .fas{
   color: #0065FC;
}
.image_1 figcaption .grey{
    color: #f2f2f2;
}
span{
    font-weight: bold;
}
.contenu a{
    text-decoration: none;
    color: black;
}

    /*---------------*/
    /*---------------*/
    /*---populaire---*/
    /*---------------*/
    /*---------------*/


.populaire{
    width: 32%;
    height: 100%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.contenu_2{
    margin: 45px 40px 45px 40px;
}
.title_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.title_populaire h1{
    margin: 0 0 5px 0;
}
.figure_2{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.image_2{
    width: 330px;
    height: 140px;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
  }
.image_2 a{
    text-decoration: none;
    color: black;
}
.image_2 img{
    object-fit: cover;
    width: 125px;
    height: 140px;
    border-radius: 15px 0 0 15px;
    margin-right: 0;
}
.image_2 figcaption{
    margin: 10px 40px 15px 20px;    
}
.image_2 figcaption h3{
    margin-top: 6px;
    margin-bottom: 6px;
}
.image_2 figcaption p{
    margin-bottom: 40px;
}
.note{
    margin-bottom: 0;
}
.image_2 figcaption .fas{
   color: #0065FC;
}
.image_2 figcaption .grey{
    color: #f2f2f2;
}
.note{
    font-size: 0.8em;
}

    /*---------------*/
    /*---------------*/
    /*---activités---*/
    /*---------------*/
    /*---------------*/

.lieux{
    width: 100%;
    height: 500px;  
    margin-top: 65px;
    margin-bottom: 60px;
}
.lieux h1{
    margin-bottom: 0;
}
.figure_3{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.colone{
    display: flex;
    flex-direction: column;
}
.lien a{
    text-decoration: none;
    color: black;
}
.image_3{
    margin: 20px 45px 15px 0;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 5px 8px #f2f2f2;
}
.image_3 img{
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 15px 15px 0 0;
    margin-left: 0;
}
.image_3 figcaption{
    margin-left: 12px;
}
.image_3 figcaption h3{
    vertical-align: middle;
}

    /*---image 3---*/

.image_4{
    margin: 20px 45px 25px 0;
    width: 300px;
    height: 240px;
    border-radius: 20px;
    box-shadow: 4px 5px 8px #f2f2f2;
}
.image_4 a{
    text-decoration: none;
    color: black;
}
.image_4 img{
    object-fit: cover;
    width: 300px;
    height: 190px;
    border-radius: 15px 15px 0 0;
    margin-left: 0;
}
.image_4 figcaption{
    margin-left: 12px;
}
.image_4 figcaption h3{
    vertical-align: middle;
}

    /*---image 4---*/

.image_5{
    margin: 20px 45px 15px 0;
    width: 300px;
    height: 165px;
    border-radius: 20px;
    box-shadow: 4px 5px 8px #f2f2f2;
}
.image_5 a{
    text-decoration: none;
    color: black;
}
.image_5 img{
    object-fit: cover;
    width: 300px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    margin-left: 0;
}
.image_5 figcaption{
    margin-left: 12px;
}
.image_5 figcaption h3{
    vertical-align: middle;
}

    /*---image 5---*/

.image_6{
    margin: 20px 45px 20px 0;
    width: 300px;
    height: 205px;
    border-radius: 20px;
    box-shadow: 4px 5px 8px #f2f2f2;
}
.image_6 a{
    text-decoration: none;
    color: black;
}
.image_6 img{
    object-fit: cover;
    width: 300px;
    height: 155px;
    border-radius: 15px 15px 0 0;
     margin-left: 0;
}
.image_6 figcaption{
    margin-left: 12px;
}
.image_6 figcaption h3{
    vertical-align: middle;
}

    /*---Partie reponsive---*/

@media screen and (max-width: 480px){
    #bloc_page{
        width: auto;
    }
    .conteneur{
        width: 100%;
        margin: 0;
    }

    /*--header--*/

    header{
        width: auto;
        height: 130px;
        margin-top: 30px;
        flex-flow: row wrap;
    }
    .logo{
        margin-left: 20px;
    }

    .registration{
        order: initial;
        margin-right: 20px;
    }
    .registration a{
        font-weight: bold;
    }
    nav {
        width: 100%;
        
    }
    nav a{
        width: 50%;
        height: 50px;
        margin-left: 0;
        border-bottom: 3px solid #f2f2f2;
    }
    nav a:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }


    /*--filtre--*/
    .search{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    form{
        width: 100%;
    }
    input[type=search] {
        width: 100%;
    }
    .icone i{
        width: 50px;
    }
    button{
        width: 50px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button span{
        display: none;
    }
    .loupe{
        display: initial;
    }
    .loupe i{
        border: initial;
        background-color: initial;
        border-radius: initial;
    }
    .filtre{
        flex-direction: column;
        align-items: flex-start;
    }

    .filtre_categorie{
        margin-top: -10px;
        flex-flow: row wrap;
    }
    .lien_filtres{
        margin: 10px 10px 10px 0;
    }


    /*--première catégorie--*/

    .principale{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: initial;
    }
    .populaire{
        width: 100%;
        border-radius: initial;
    }
    .propositions{
        width: 100%;
        margin: 0;
        order: 2;
        height: auto;
        border: initial;
        background-color: initial;
    }
    .figure_1{
        flex-direction: column;
        align-items: center;
    }
    .contenu_2{
        margin: 40px 20px 40px 20px;
    }
    .title_populaire{
        width: 100%;
    }
    .title_populaire i{
        font-size: 1.5em;
    }
    .image_1, .image_2{
        width: auto;
        margin: 10px 0 0 0;
    }
    .lien{
        width: 100%;
    }
    .image_2 img{
        width: 40%;
        height: 100%;
    }
    .image_2 figcaption {
        margin-right: 15px;
        height: auto;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    }
    .image_2 figcaption p{
        margin-bottom: initial;
        margin-top: 0;
        flex-grow: 2;
    }

    .contenu{
        margin: 40px 20px 30px 20px;
    }
    .image_1{
        box-shadow: 4px 5px 8px #f2f2f2;
    }
    .image_1 img{
        width: 100%;
        height: 60%;
    }
    .contenu a{
        margin-top: 20px;
        align-self: flex-start;
    }

    /*--Activité--*/

    .lieux{
        width: auto;
        height: auto;
        margin: 0 20px 60px 20px;
    }
    .lieux h1{
        margin-bottom: -10px;
    }
    .figure_3{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .image_3, .image_4, .image_5{
        width: auto;
        height: 200px;
        margin: 25px 0 0 0;
    }
    .image_3 img, .image_4 img, .image_5 img, .image_6 img{
        width: 100%;
        height: 67%;
    }
    .colone{
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0;
    }
    .image_6{
        width: 100%;
        height: 200px;
        margin: 25px 0 0 0;
    }

    /*--footer--*/
    
    footer{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pied{
        display: block;
        margin-right: 0;
    }


}

