body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
 }
 #bloc_page{
     width: 1440px;
     margin-top: 0;
     margin-bottom: 0;
     margin-left: auto;
     margin-right: auto;
 }

    /*---------------*/
    /*---------------*/
    /*----header-----*/
    /*---------------*/
    /*---------------*/
header{
    height: 100px;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img{
    width: 100px;   
}
nav ul{
    list-style: none;
    display: flex;
}

nav a{
    height: 100px;
    width: 150px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    color: #0065FC;
    border-top: 1px solid;
}
.inscription{
    color: #0065FC;
}
    /*---------------*/
    /*---------------*/
    /*----footer-----*/
    /*---------------*/
    /*---------------*/

footer{
    background-color: #f2f2f2;
    height: 220;
}
.pied{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 350px 10px 50px;
}
footer ul{
    margin-right: 200px;
    padding: 0;
    list-style: none;
}
footer a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px 0 5px 0;

}
    /*---------------*/
    /*---------------*/
    /*---conteneur---*/
    /*---------------*/
    /*---------------*/

.conteneur{
    margin: 50px;
}

    /*---------------*/
    /*---------------*/
    /*----search-----*/
    /*---------------*/
    /*---------------*/


.search p{
    margin-top: 20px;
    margin-bottom: 25px;
}

.icone{
    display: flex;
    align-items: flex-start;
}
.icone i{
    background-color: #f2f2f2;
    width: 45px;
    height: 48px;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}
form{
   display: flex;
}
input[type=search] {
    border: 1px solid #f2f2f2;
    height: 50px;
    width: 220px;
}
#ville::placeholder{
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}
button{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    width: 130px;
    font-weight: bold;
    font-size: 1.2em;
     color: white;
}
    /*---------------*/
    /*---------------*/
    /*----Filtres----*/
    /*---------------*/
    /*---------------*/

.filtre{
    display: flex;
    align-items: center;
}
.filtre ul{
    list-style: none;
    display: flex;
}
.filtre li{
    margin: 15px;
    height: 48px;
    width: auto;
    border: 3px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-left-style: none;
}
.filtre li i{
    border: 1px solid #DEEBFF;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 20px;
}
.filtre li a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
.filtre li:hover{
    background: #0065FC;
}

.info{
    display: flex;
    align-items: center;
}
.info p{
    margin: 10px;
}
.info i{
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #0065FC;
}

    /*---------------*/
    /*---------------*/
    /*--hébergement--*/
    /*---------------*/
    /*---------------*/

.propositions{
    width: 900px;
    height: 630px;
    margin-top: 40px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.contenu{
    margin: 45px 10px 45px 40px;
}
.contenu h1{
    margin-bottom: 0;
}
.figure_1{
    margin: 0;
    display: flex;
    flex-flow: wrap row;
}
.image_1{
    margin: 20px 30px 15px 0;
    width: 240px;
    height: 200px;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
}
.image_1 a{
    text-decoration: none;
    color: black;
}
.image_1 img{
    object-fit: cover;
    width: 240px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
}
.image_1 figcaption{
    margin-left: 12px;
}
.image_1 figcaption h3, p{
    margin-top: 6px;
    margin-bottom: 6px;
}
.image_1 figcaption .fas{
   color: #0065FC;
}
.image_1 figcaption .grey{
    color: #f2f2f2;
}
span{
    font-weight: bold;
}

    /*---------------*/
    /*---------------*/
    /*---activités---*/
    /*---------------*/
    /*---------------*/

.lieux{
    height: 500px;
    margin-top: 40px;
    border: 1px solid;
}